@charset "utf-8";
/* --------------- Style to null --------------- */
*{-webkit-text-size-adjust: none; }
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{-webkit-tap-highlight-color: rgba(0,0,0,0); border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */


/* --------------- site --------------- */
.site {
    position: relative;
    min-height: 100%;
    min-width: 1000px;
    overflow: hidden;
    z-index: 1;
    font-family: 'PT Sans', sans-serif;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;

    height: 100px;
}
.site__content {
    position: relative;
    z-index: 2;
    margin-left: 20px;
}
.site__header {
    position: relative;

    height: 100px;
    background: red;
    z-index: 3;

}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
}
.site__footer-layout {
    width: 100%;

    height: 100px;
    background: blue;
}
.site__content-wrap{
    width: 680px;
    height: 400px;
}
.site__title{
    position: relative;
    display: block;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    height: 40px;
    padding-left: 33px;
    background: #f0f0f0;
    padding-top: 8px;
    margin-bottom: 27px;
    letter-spacing: 1.3px;
}
.site__title:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 20px solid transparent;
    border-left: 20px solid #fff;
}
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: 0;
}
/* --------------- /logo --------------- */

/* --------------- breadcrumps --------------- */
.breadcrumps {
    padding: 27px 2px 22px;
    font-size: 12px;
    color: #e24200;
}
.breadcrumps a{
    position: relative;
    margin-right: 15px;
    color: #333;
    text-decoration: underline;
}
.breadcrumps a:hover{
    text-decoration: none;
}
.breadcrumps a:after{
    content: '→';
    position: absolute;
    left: 100%;
    top: 2px;
    margin-left: 2px;
}
/* --------------- /breadcrumps --------------- */

/* --------------- news --------------- */
.news{
    position: relative;
    display: inline-block;
    width: 330px;
    vertical-align: top;
    font-size: 14px;
    margin-bottom: 47px;
    color: #000;

    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.news:hover:before{
    opacity: 1;
}
.news:hover .news-title{
    color: #e35424;
}
.news:before{
    content: '';
    position: absolute;
    opacity: 0;
    background: #f4f4f4;
    left: -10px;
    right: -1px;
    top: -10px;
    bottom: -10px;
    z-index: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.news:nth-child(odd){
    margin-right: 13px;
}
.news>img{
    position: relative;
    display: inline-block;
    width: 111px;
    height: 111px;
    margin-right: 11px;
    z-index: 3;
}
.news>div{
    position: relative;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    z-index: 3;
}
.news>div time{
    display: block;
    font-size: 12px;
    margin-bottom: 11px;
}
.news .news-title{
    font-size: 16px;
    text-decoration: underline;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 14px;
    height: 68px;
    overflow: hidden;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
.news p{
    line-height: 18px;
}
/* --------------- /news --------------- */
